body {
    display: flex;
    background-color: #e6e8ea;
    gap: 1.25rem;
}

#main {
    color: white;
    overflow-y: auto;
    padding: 0.75rem;
    width: 100%;
    background-color: white;

    display: flex;
    flex-flow: column;
    gap: 0.75rem;
}

/* header */
header#page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.75rem;
}

header#page-header > .page-title {
    color: black;
}

header#page-header > #add-teacher-button {
    padding: 0.5rem;
    border: 1px solid var(--grey-color);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    text-decoration: none;
    transition: all ease-in-out 0.3s;
}

header#page-header > #add-teacher-button:hover {
    background-color: var(--grey-color);
    color: white;
    border-color: var(--grey-color);
}

/* main page content */
main#page-content {
    border: 1px solid black;
}

/* table */
table {
    table-layout: auto;
    border-collapse: collapse;
    width: 100%;
}

table > thead {
    position: -webkit-sticky;
    position: sticky;
    top: -0.75rem;
    background-color: #1f272d;
}

table > thead > tr > th {
    text-align: left;
    padding: 0.75rem;
    color: white;
}

table > thead > tr > th:last-child {
    text-align: center;
}

tbody > tr:nth-child(even) {
    background-color: #e9e9e9dd;
}

tbody > tr {
    transition: all ease-in-out 0.3s;
}

tbody > tr:hover {
    background-color: #fefea4;
}

tbody > tr > td {
    padding-inline: 0.75rem;
}

tbody > tr > td:last-child {
    width: 1%;
}

/* actions */
.actions {
    display: flex;
    gap: 0.25rem;
}

.actions > button {
    padding: 0.5rem;
    border: 1px solid var(--grey-color);
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    transition: all ease-in-out 0.3s;
}

.action-delete:hover {
    background-color: #9b0000;
    color: white;
    border-color: #9b0000;
}

.action-update:hover {
    background-color: #000a9b;
    color: white;
    border-color: #000a9b;
}

